# Data Types

In [39]:
#integer
#float
#string 
#boolean
#complex

In [40]:
num=2

In [4]:
type(num)

int

In [5]:
name='Aastha'

In [6]:
name

'Aastha'

In [7]:
type(name)

str

In [8]:
num2='2'   #anything written in single quotations becomes string

In [9]:
type(num2)

str

In [10]:
num3=3.4

In [11]:
num3

3.4

In [13]:
type(num3)

float

In [14]:
num4=54

In [15]:
is_num_greater_than_50=num4>50

In [16]:
is_num_greater_than_50

True

In [17]:
type(is_num_greater_than_50)

bool

In [19]:
num+num3

5.4

In [21]:
name + ' your id is: A2345'

'Aastha your id is: A2345'

In [46]:
a,b,c=2,3,4          #initialising different variables at one time

In [23]:
a

2

In [24]:
b

3

In [25]:
c

4

In [26]:
a=b=c=55            #initialising different variables at one time

In [27]:
a

55

In [28]:
b

55

In [29]:
c

55

In [30]:
a=55;b=a;c=b             #initialising different variables at one time

In [31]:
a

55

In [32]:
b

55

In [33]:
c

55

# Arithematic Operators

In [47]:
#Addition +
a+b

5

In [48]:
#Subtraction -
a-b

-1

In [49]:
#Multiplication *
a*b

6

In [50]:
#Division /
a/b

0.6666666666666666

In [51]:
#Remainder %
a%b

2

In [52]:
#Exponent **
a**b

8


# Assignment operators

In [53]:
a,b=3,2    # =

In [56]:
a+=b      # += which means a=a+b

In [57]:
a

9

In [58]:
a-=b    # -=

In [59]:
a

7

In [60]:
a*=b    # *=

In [61]:
a

14

In [62]:
a/=b   # /=

In [63]:
a

7.0

# Relational or comparison operators

In [64]:
x=5
y=7

In [65]:
x<y   #strictly less than

True

In [66]:
x<=y  #less than or equal to

True

In [67]:
x>y  #strictly greater than

False

In [68]:
x>=y  #greater than or equal to

False

In [69]:
x==y  #equal to equal to

False

In [70]:
x!=y  #not equal to

True

# Logical and bitwise operators

In [75]:
(x>y) or (x<y)   #Logical or

True

In [76]:
((x<y) | (x==y))  #Bitwise or

True

In [77]:
(x>y) and (x<y)   #Logical and

False

In [78]:
(x<y) & (x==y)  #Bitwise and

False

In [74]:
not(x==y)    #Logical not

True