In [3]:
a=input('Enter your age:')
print(a)

Enter your age:20
20

In [4]:
type(a)

str

In [5]:
#Python 2
#int(raw_input('Enter some number:'))
#input('Enter some number')
#Python 3
a=int(input('Enter some number:'))

Enter some number:23

In [7]:
type(23)

int

In [8]:
#program to print sum
x = input('Enter first number:')
y = input('Enter second number:')
i = int(x)
j = int(y)
print('The sum is:', i+j)

Enter first number:23
Enter second number:24
The sum is: 47

In [9]:
#reducing the number of lines from above code
x = int(input('Enter first number:'))
y = int(input('Enter second number:'))
print('The sum is:',x+y)

Enter first number:12
Enter second number:20
The sum is: 32

In [11]:
#reducing the above code to one line
print('The sum is:',int(input('Enter first number:'))+int(input('Enter second number:')))

Enter first number:12
Enter second number:23
The sum is: 35

In [3]:
#Write a program where read the employee data from the keyboard
#Eno
#Ename
#Esal
#EAdder
#Married
eno = int(input('Enter the employee number:'))
ename = input('Enter the employee name:')
eadder = input('Enter the employee address:')
esal = float(input('Enter your salary:'))
emar = bool(input('Enter marital status: [True|False]'))
print('Please confirm your information')
print('Your employee number is:', eno)
print('Your Name as per our records is:', ename)
print('Your address is:', eadder)
print('Your salary is :', esal)
if emar=='True':
    print('Your marital status is True')
else:
    print('Your marital status is False')

Enter the employee number:2
Enter the employee name:Ash
Enter the employee address:Nagpur
Enter your salary:40000
Enter marital status: [True|False]False
Please confirm your information
Your employee number is: 2
Your Name as per our records is: Ash
Your address is: Nagpur
Your salary is : 40000.0
Your marital status is False

In [4]:
#How to read multiple values from the keyboard in a single line:
a=input('Enter 5 numbers:')

Enter 5 numbers:23 44 55 66 77

In [5]:
type(a)

str

In [6]:
input('Enter 5 numbers:').split()    #split() method returns a list of strings after breaking the given string by the specified separator.

Enter 5 numbers:22 33 44 55 66

['22', '33', '44', '55', '66']

In [8]:
input('Enter 5 numbers: ').split(',')

Enter 5 numbers: 22,33,44,55,66

['22', '33', '44', '55', '66']

In [9]:
input('Enter 5 numbers:').split(':')

Enter 5 numbers:1:2:3:4:5

['1', '2', '3', '4', '5']

In [10]:
#invalid way to convert numbers in list to integer format
int(input('Enter 5 numbers: ').split(':'))

Enter 5 numbers: 1:2:3:4:5

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [11]:
a = [int(x) for x in input('Enter 5 numbers:').split(',')]

Enter 5 numbers:1,2,3,4,5

In [12]:
a,b,c,d,e = [int(x) for x in input('Enter 5 numbers:').split(',')]
print('The sum is:',a+b+c+d+e)

Enter 5 numbers:1,2,3,4,5
The sum is: 15

In [1]:
a,b,c,d,e = [float(x) for x in input('Enter 5 numbers:').split(',')]
print('The sum is:',a+b+c+d+e)

Enter 5 numbers:1,2,3,4,5
The sum is: 15.0

In [4]:
#Internally check the type of the data and prints, takes strings as arguement only
x = eval('10+20+30')
x

60

In [12]:
#eval recognises input list as a tuple by default
x = eval(input('Enter some list:'))
type(x)

Enter some list:1,2,3,4,5

tuple

In [13]:
x=input('Enter some list:')
type(x)

Enter some list:1,2,3,4,5

str

In [11]:
#to take input as list by eval 
x = eval(input('Enter some list:'))
type(x)

Enter some list:[1,2,3,4,5]

list

In [14]:
#to print values in list
x = eval(input('Enter some list:'))
for x1 in x:
    print(x1)

Enter some list:[1,2,3,4,5]
1
2
3
4
5

In [16]:
input('Enter some data').split(',')

Enter some data1,Aastha,True,120.4

['1', 'Aastha', 'True', '120.4']

In [18]:
a,b,c,d = [eval(x) for x in input('Enter some data:').split(',')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter some data:1,'Aastha',True,120.4
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [22]:
a,b,c,d = [eval(x) for x in input('Enter some data').split('if')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter some data1if2if3if4
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [23]:
a,b,c,d = [eval(x) for x in input('Enter some data').split('5')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter some data15'aastha'5True512.4
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [24]:
list1 = [12,23,22,33,45]

In [27]:
sum(list1[1:])

123

In [28]:
#Output statements
#print() - Function
#print() - without arguements we will get a new line
print('Hello')
print()
print('Good Evening')
print()
print('How are you?')

Hello

Good Evening

How are you?

In [29]:
#Form 2 
print('Hello all')
print('Hello\nall') #We can use escape character in print
print('Hello \t all')

Hello all
Hello
all
Hello 	 all

In [31]:
print('Aastha'+' '+'Chandok')

Aastha Chandok

In [32]:
print('Aastha'*3)

AasthaAasthaAastha

In [33]:
print('Aastha'*'Chandok')

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
print('Aastha','Chandok')

Aastha Chandok

In [35]:
#Form 3
#print() with multiple variables or arguments
a,b,c = 10,20,30
print('The values are: ' , a,b,c)

The values are:  10 20 30

In [36]:
#comma separating output
a,b,c = 10,20,30
print('The values are: ' , a,',',b,',',c)

The values are:  10 , 20 , 30

In [1]:
a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep=',')
print(a,b,c,sep=':')
print(a,b,c,sep='5')
print(a,b,c,sep=None)
#The defaulf value of sep is space

10 20 30
10,20,30
10:20:30
10520530
10 20 30

In [2]:
print('Hello')
print('Everyone')
print('To learn Python')
print('You have to practice')
#The default value of end is new line

Hello
Everyone
To learn Python
You have to practice

In [3]:
print('Hello','Everyone','To learn Python', 'You have to practice')

Hello Everyone To learn Python You have to practice

In [4]:
print('Hello', end=' ')
print('Students', end=' ')
print('To learn Python', end=' ')
print('You have to practice', end=' ')

Hello Students To learn Python You have to practice

In [5]:
print(10,20,30,40,50, sep='-', end='----')

10-20-30-40-50----

In [6]:
list1 = [10,20,30,40]
tuple1 = (10,20,30,40)
set1 ={10,20,30,40}
print(list1)
print(tuple1)
print(set1)

[10, 20, 30, 40]
(10, 20, 30, 40)
{40, 10, 20, 30}

In [7]:
print(list1,end=' ')
print(tuple1,end=' ')
print(set1, end=' ')

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [8]:
print(list1, sep = '+' )
print(tuple1, sep = '+' )
print(set1, sep = '+' )

[10, 20, 30, 40]
(10, 20, 30, 40)
{40, 10, 20, 30}

In [9]:
print(list1, end = '----' )
print(tuple1, end = '++++' )
print(set1, end = ' ' )

[10, 20, 30, 40]----(10, 20, 30, 40)++++{40, 10, 20, 30}

In [10]:
print(list1,tuple1,set1)

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [11]:
#print {formatted output}
a,b,c=10.5,20,30
print('a\'s value is %i' %a)
print('a\'s value is %f' %a)
# %i %d - int
# %f - -float
# %s - str

a's value is 10
a's value is 10.500000

In [13]:
a,b,c = 10,20,30
print('Value of a is %i' %a)
print('Value of a is %i and value of b is %i' %(a,b))
print('Value of a is %i and value of b is %i and value of c is %f' %(a,b,c))
print('Value of a is %i and value of b is %i and value of c is %f' %(b,a,c))
print('Value of a is %s and value of b is %i and value of c is %f' %(a,b,c))

Value of a is 10
Value of a is 10 and value of b is 20
Value of a is 10 and value of b is 20 and value of c is 30.000000
Value of a is 20 and value of b is 10 and value of c is 30.000000
Value of a is 10 and value of b is 20 and value of c is 30.000000

In [14]:
name = 'Aastha'
l = [1,2,3,4,5]
print('Heyyy %s your list is %s' %(name,l))

Heyyy Aastha your list is [1, 2, 3, 4, 5]

In [15]:
#Replacement operators
name='Aastha'
bill=2000
print('Heyyy {} your bill is {}'.format(name,bill))

Heyyy Aastha your bill is 2000

In [16]:
name='Aastha'
bill=2000
print('Heyyy {nam} your bill is {b}'.format(nam=name,b=bill))

Heyyy Aastha your bill is 2000