In [1]:
#types of datatypes
#list
#tuple
#dictionary
#sets

In [72]:
mylist=[22,33,44,55,66,77,88,99]

In [3]:
type(mylist)

list

In [4]:
mylist[2]    #indexation starts from 0, thus showing third element

44

In [5]:
mylist[2:]   #shows elements from third element onwards

[44, 55, 66, 77, 88, 99]

In [6]:
mylist[3:7]  #shows element from indexation 3 to 6 element at indexation 7 is not included

[55, 66, 77, 88]

In [8]:
mylist[-1]   #reverse indexation starts from -1

99

In [9]:
mylist[-5:-1]

[55, 66, 77, 88]

In [10]:
mylist[-5:]  #shows elements from indexation -5 onwards

[55, 66, 77, 88, 99]

In [11]:
mylist[-1:-4:1]

[]

In [12]:
mylist[-1:-4:-1]

[99, 88, 77]

In [13]:
mylist[-2:-6:2]

[]

In [14]:
mylist[-2:-6:-2]

[88, 66]

In [15]:
mylist[-6:-2:2]

[44, 66]

In [16]:
languages=[['english','hindi'],'english',['english','french']]

In [17]:
type(languages)

list

In [18]:
type(languages[0])

list

In [31]:
type(languages[1])

str

In [33]:
languages[0]

['english', 'hindi']

In [34]:
languages[0][1]

'hindi'

In [28]:
list1=['Aastha',2,3.4,True,'5.6']

In [21]:
type(list1)

list

In [22]:
type(list1[0])

str

In [23]:
type(list1[1])

int

In [24]:
type(list1[2])

float

In [29]:
type(list1[3])

bool

In [30]:
type(list1[4])

str

In [35]:
list1[4]=3        #changing value at a particular indexation

In [36]:
list1

['Aastha', 2, 3.4, True, 3]

In [37]:
list2=list1      #copying value of list1 in list2

In [38]:
list2

['Aastha', 2, 3.4, True, 3]

In [39]:
del list2

In [40]:
list2

NameError: name 'list2' is not defined

In [41]:
a,b=[1,2,3],[4,5,6]

In [42]:
a

[1, 2, 3]

In [43]:
b

[4, 5, 6]

In [44]:
a+b

[1, 2, 3, 4, 5, 6]

In [45]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
a*2

[1, 2, 3, 1, 2, 3]

In [47]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

# Inbuilt functions

In [49]:
mylist

[22, 33, 44, 55, 66, 77, 88, 99]

In [50]:
mylist.append(2)      #appends value at the end

In [51]:
mylist

[22, 33, 44, 55, 66, 77, 88, 99, 2]

In [52]:
mylist.append(2,3)   #takes only one argument

TypeError: append() takes exactly one argument (2 given)

In [65]:
mylist.append([1,2,3])

In [66]:
mylist

[22, 33, 44, 55, 66, 77, 88, 99, [1, 2, 3]]

In [67]:
mylist1=mylist

In [69]:
mylist1.clear()    #clears the list

In [70]:
mylist1

[]

In [73]:
mylist2=mylist

In [74]:
mylist2.copy()

[22, 33, 44, 55, 66, 77, 88, 99]

In [75]:
mylist2.count(33)

1

In [78]:
mylist2.extend([10,20,30])       #takes value only in list

In [79]:
mylist2

[22, 33, 44, 55, 66, 77, 88, 99, 10, 20, 30]

In [81]:
mylist2.index(66)        #shows the index of the value

4

In [82]:
mylist2.insert(2,100)     #insert element at particular index

In [83]:
mylist2

[22, 33, 100, 44, 55, 66, 77, 88, 99, 10, 20, 30]

In [84]:
mylist2.pop()     #pops value from the last

30

In [85]:
mylist2

[22, 33, 100, 44, 55, 66, 77, 88, 99, 10, 20]

In [88]:
mylist2.remove(66)    #emoves value from the list

In [89]:
mylist2

[22, 33, 100, 44, 55, 77, 88, 99, 10, 20]

In [92]:
mylist2.reverse()

In [94]:
mylist2

[22, 33, 100, 44, 55, 77, 88, 99, 10, 20]

In [95]:
mylist2.sort()

In [97]:
mylist2

[10, 20, 22, 33, 44, 55, 77, 88, 99, 100]

In [98]:
mylist2.reverse()

In [99]:
mylist2

[100, 99, 88, 77, 55, 44, 33, 22, 20, 10]