In [1]:
#Operators in Python
    #Arithmatic operators
    #Relational operators or comparison operators
    #Equality operators
    #Bitwise operators
    #Assignment operators
    #Special operators

In [4]:
#Arithmatic Operators
    #+ - Addition 
    #- - Substraction
    #* - Multiplication 
    #/ - Division (Result will always be a float)
    #% - Modulo
    #// - Floor division Operators (It will return either int or float, if the arguement is int type then int else float)
    #** - Power or Exponent operator
    
a = 10
b = 2
print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

print(10/3)
print(10//3)
print(10.0//3)

a+b: 12
a-b: 8
a*b: 20
a/b: 5.0
a%b: 0
a//b: 5
a**b: 100
3.3333333333333335
3
3.0

In [8]:
#String concatenation by + operator
#Valid-
'Aastha' + str(3)
'Aastha' +'3'

#Invalid-
#'Aastha' + 3

'Aastha3'

In [14]:
#String repetation by * operator-
#Valid-
'Aastha' * 3
3 * 'Aastha'    #Order is not important

#Invalid-
#'Aastha' * '3'
#'Aastha' * str(3)
#'Aastha' * 3.0 - Always execting int type only

'AasthaAasthaAastha'

In [19]:
#Invalid-
#10/0
#10//0
#10%0

#Valid-
10**0

1

In [21]:
#Relational Operators-
# < , > , <= , >=

a=10
b=20
print('a>b:',a>b)
print('a<b:',a<b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [22]:
#Based on length of the string
a='Aastha'
b='Chandok'
print('a>b:',a>b)
print('a<b:',a<b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [23]:
#With respect to unicode values
a = 'Aastha'
b = 'aastha'
print('a>b:',a>b)
print('a<b:',a<b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [24]:
#Internally True is 1 and False is 0
a=True
b=False
print('a>b:',a>b)
print('a<b:',a<b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)

a>b: True
a<b: False
a>=b: True
a<=b: False

In [25]:
10 < 20 < 120 
#Chaining of relational operators is possible and every comparison should be True to get output as True 
#and if any of the value is false then the output will be false

True

In [26]:
80 < 'eighty'

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
#Equality operator
#==
#!=
list1 = [12,34,332]
list2 = [43,44,54]
list1 == list2

False

In [28]:
10==20

False

In [29]:
10!=20

True

In [30]:
10==True

False

In [31]:
a=10
b=True
a==b

False

In [32]:
1==True

True

In [33]:
10==20==30 #Chaining is possible

False

In [34]:
(10+2j) == (10+2j)

True

In [35]:
10 == 10.0

True

In [36]:
10 == 10.1

False

In [38]:
10.10 == 10.1

True

In [39]:
10 == int('10')

True

In [40]:
1 == True
1.0 == True #Boolean is compatible with Number

True

In [41]:
0 == False

True

In [42]:
#Logical Operator 
#and -> If all the arguements are True then True only
#or -> Atleast one True is requrired to get True
#not

True and True

True

In [43]:
True and False

False

In [44]:
False or True

True

In [45]:
not True

False

In [46]:
#1 - True
#0 - False

In [50]:
#Non zzero means true
x=10
y=0
x and y
#Empty string is False 
x=''
y=20
x and y
#if x evaluates to False then the result is x otherwise y

''

In [51]:
not 10

False

In [52]:
not ''

True

In [54]:
not 9

False

In [55]:
#Ternary Operator
x=30 if 10>20 else 40
print(x)

40

In [56]:
#Program to find minimum number
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
x = a if a<b else b
print('Min value:' ,x)

Enter first number:6
Enter second number:7
Min value: 6

In [57]:
x = True if 10>50 else False
print(x)

False

In [58]:
#Largest value
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
c = int(input('Enter third number:'))
x = a if a>b>c else b if b>c else c
#x = firstvalue if condition1 else secondvalue if condition2 else thirdvalue 
print(x)

Enter first number:4
Enter second number:3
Enter third number:6
6

In [59]:
#x = firstvalue if condition1 else secondvalue if condition2 else thirdvalue 
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
c = int(input('Enter Third number:'))

x = a if (a>b & a>c) else b if b>c else c
print(x)

Enter first number:3
Enter second number:2
Enter Third number:5
5

In [60]:
#x = firstvalue if condition1 else secondvalue if condition2 else thirdvalue 
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
c = int(input('Enter Third number:'))

x = a if a>=b and a>=c else b if b>=c else c
print(x)

Enter first number:7
Enter second number:7
Enter Third number:7
7

In [61]:
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
print('Both numbers are equal' if a==b else 'First number is greater than second'
     if a>b else 'First number is smaller than second')

Enter first number:7
Enter second number:5
First number is greater than second