In [16]:
tuple1=(32,43,54,65,76,87,98)

In [2]:
tuple1

(32, 43, 54, 65, 76, 87, 98)

In [3]:
type(tuple1)

tuple

In [4]:
 tuple1[3]=100   #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [5]:
tuple1.count(32)

1

In [7]:
tuple1.index(54)

2

In [8]:
sum(tuple1)

455

In [9]:
tuple1=tuple()

In [10]:
tuple1

()

In [13]:
len(tuple1)

7

In [14]:
del tuple1

In [15]:
tuple1

NameError: name 'tuple1' is not defined

In [17]:
tuple1[2:6]

(54, 65, 76, 87)

In [18]:
tuple1[5:]

(87, 98)

In [19]:
tuple1[:5]

(32, 43, 54, 65, 76)

In [20]:
tuple1

(32, 43, 54, 65, 76, 87, 98)

In [21]:
   tuple1[5::-1]

(87, 76, 65, 54, 43, 32)

In [22]:
tuple1[5::1]

(87, 98)

In [23]:
tuple1[4:7:-1]

()

In [33]:
dict1={'cust_id':[1,2,3,4,5],
      'cust_name':['A','B','C','D','E'],
      'Region':['N','S','S','E','W']}

In [25]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W']}

In [49]:
dict1['Product']=['Py','Tab','SQL','Py','R']

In [27]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [29]:
dict1['cust_name'][0]='Z'

In [30]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [31]:
dict1.clear()

In [50]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [51]:
dict2=dict1.copy()

In [52]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [56]:
dict3=dict2.fromkeys({'cust_name','Product'})  #makes a skeleton of dict

In [57]:
dict3

{'cust_name': None, 'Product': None}

In [58]:
dict3['cust_name']='B'

In [59]:
dict3['Product']='Tab'

In [60]:
dict3

{'cust_name': 'B', 'Product': 'Tab'}

In [61]:
dict2.get('Product')     #to fetch values

['Py', 'Tab', 'SQL', 'Py', 'R']

In [62]:
dict2.items()

dict_items([('cust_id', [1, 2, 3, 4, 5]), ('cust_name', ['A', 'B', 'C', 'D', 'E']), ('Region', ['N', 'S', 'S', 'E', 'W']), ('Product', ['Py', 'Tab', 'SQL', 'Py', 'R'])])

In [63]:
dict2.keys()

dict_keys(['cust_id', 'cust_name', 'Region', 'Product'])

In [65]:
dict2.pop('Product')        #removes a key

['Py', 'Tab', 'SQL', 'Py', 'R']

In [66]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W']}

In [67]:
dict2.popitem()    #remove last value

('Region', ['N', 'S', 'S', 'E', 'W'])

In [68]:
dict2

{'cust_id': [1, 2, 3, 4, 5], 'cust_name': ['A', 'B', 'C', 'D', 'E']}

In [75]:
dict1.setdefault('Marks')  #to add key with null value

In [71]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R'],
 'Marks': None}

In [73]:
dict1.popitem()

('Marks', None)

In [74]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [76]:
del dict1['Marks']

In [77]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [78]:
del dict1['Product'][3]

In [79]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'R']}

In [80]:
dict2

{'cust_id': [1, 2, 3, 4, 5], 'cust_name': ['A', 'B', 'C', 'D', 'E']}

In [82]:
mydict = {1:2,3:4,5:6,7:8}

In [83]:
mydict2 = {1:10,9:20}

In [84]:
mydict

{1: 2, 3: 4, 5: 6, 7: 8}

In [85]:
mydict2

{1: 10, 9: 20}

In [86]:
mydict.update(mydict2)

In [87]:
mydict

{1: 10, 3: 4, 5: 6, 7: 8, 9: 20}

In [89]:
list1=list(tuple1)     #changing value in tuple

In [90]:
list1

[32, 43, 54, 65, 76, 87, 98]

In [91]:
list1[0]=100

In [92]:
list1

[100, 43, 54, 65, 76, 87, 98]

In [95]:
tuple1=tuple(list1)

In [96]:
tuple1

(100, 43, 54, 65, 76, 87, 98)

In [97]:
list(dict1)     #only keys will be converted

['cust_id', 'cust_name', 'Region', 'Product']

In [99]:
tuple2=(1,2,3,[4,5,6])

In [101]:
type(tuple2)

tuple

In [103]:
tuple2[3]

[4, 5, 6]

In [105]:
type(tuple2[3])

list

In [108]:
tuple2[3][1]=89

In [109]:
tuple2

(1, 2, 3, [4, 89, 6])

In [8]:
myset1={1,1,2,3,4,4,5,6,6,6,6,7,8,9,9}  #doesn't supports indexation

In [111]:
myset1          #gives unique values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
myset1.add(100)     #takes one arguement

In [13]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [6]:
myset1.clear()

In [7]:
myset1

set()

In [9]:
myset2=myset1.copy()

In [12]:
myset2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
myset2.discard(9)

In [15]:
myset2

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
myset2.pop()   #removes first value in set

1

In [17]:
myset2.pop(2)

TypeError: pop() takes no arguments (1 given)

In [18]:
myset1.remove(7)

In [19]:
myset1

{1, 2, 3, 4, 5, 6, 8, 9, 100}

In [20]:
#remove throws an error if value is not present whilst discard doesn't

In [21]:
myset1

{1, 2, 3, 4, 5, 6, 8, 9, 100}

In [44]:
myset2={1,2,3}

In [45]:
myset3={3,4,5}

In [24]:
myset2.union(myset3)

{1, 2, 3, 4, 5}

In [25]:
myset2.update(myset3)

In [26]:
myset2

{1, 2, 3, 4, 5}

In [29]:
myset2.difference(myset3)

{1, 2}

In [30]:
myset2.difference_update(myset3)

In [31]:
myset2

{1, 2}

In [34]:
myset2.intersection(myset3)

{3}

In [35]:
myset2.intersection_update(myset3)

In [36]:
myset2

{3}

In [39]:
myset2.isdisjoint(myset3)

False

In [40]:
myset2.discard(3)

In [41]:
myset2

{1, 2}

In [42]:
myset3

{3, 4, 5}

In [43]:
myset2.isdisjoint(myset3)

True

In [47]:
myset2.issubset(myset3)

False

In [48]:
myset4={1,2,3,4,5,6,7}

In [49]:
myset3.issubset(myset4)

True

In [50]:
myset4.issuperset(myset2)

True

In [51]:
myset2.symmetric_difference(myset3)

{1, 2, 4, 5}

In [52]:
myset2

{1, 2, 3}

In [53]:
myset3

{3, 4, 5}

In [54]:
myset5={1,2,3,'a'}
myset6={'a','b','c'}

In [55]:
myset5.symmetric_difference(myset6)

{1, 2, 3, 'b', 'c'}

In [56]:
myset5.symmetric_difference_update(myset6)

In [57]:
myset5

{1, 2, 3, 'b', 'c'}